/* Importing Cormorant and Proza Libre from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

/* Body with general settings and spacing + marbles background image */

body {
    width: 820px;
    height: 100%;
    margin: 75px auto;
    font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
    color:#1E2039; 
    background-color: #979AC8;
    background-image: url("../images/marblesbg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

/* Heading and spacer between boxes (horizontal ruler) */

h2 {
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
    font-size: 250%;
    text-align: center;
    padding: 20px;
}

hr {
    padding-top: 30px;
}

/*  Content Boxes, top for scores, mid for playing, bottom for last round
    results and "quit to start" button. All boxes have a nice 3D effect
    with the box-shadow property  */

#top-box, #mid-box, #bottom-box {
    width: 800px;
    height: 65px;
    background-color: rgb(236, 238, 240, 0.7);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
    text-align: center;
}

#bottom-box {
    visibility: hidden;
    height: 0px;
}

#top-box {
    font-weight: 800;
    font-size: 300%;
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
}

#top-box span, p {
    padding: 5px 10px 0px;
}

#mid-box {
    height: 435px;
}

#mid-box p {
    font-size: 120%;
    padding: 15px;
    font-weight: 800;
}

#bottom-box p {
    padding: 15px 10px 0px;
    font-weight: 800;
    font-size: 200%;
}

/* Buttons with hover and 3D effect */

.button {
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
    background-color: #BFBFC4;
    border: 2px solid #1E2039;
    color: #1E2039;
    padding: 10px 20px;
    display: block;
    font-size: 200%;
    margin: 15px auto;
    box-shadow: 5px 10px;
    font-weight: bold;
}

.button:hover {
    margin: 20px auto;
    box-shadow: 5px 5px;
    font-style: italic;
    background-color: #ffffff;
}

#double-button {
    margin: 15px 150px 0;
}

/* Select Boxes */

#select-box {
    padding: 10px 0;
    margin: 0 auto;
}

#select-box select {
    background-color: rgb(236, 238, 240);
    border: 2px solid #1E2039;
    padding: 0 10px 0 0;
    margin: 0;
    width: 200px;
    font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
    font-size: 175%;
    cursor: inherit;
    line-height: inherit;
    color:#1E2039;
    font-weight: 800;
}

/* Setting colors for Player/Computer Scores and win/lose for results */

#lose, #score-computer {
    color: #AE3441;
}

#win, #score-user  {
    color: #325635;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Social Network Links & Symbols (Awesomefont) in Footer */

.social-networks {
    text-align: center;
    width: 800px;
    height: 75px;
    background-color: rgb(236, 238, 240, 0.8);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 10px;
    padding: 10px;
    color: #1E2039;
}

/* Media queries Sizes 850px-650px and 650px down */

/* For medium to low size screens from 850px wide and down */
@media screen and (max-width: 850px) {
    body {
        width: 600px;
        margin: 50px auto;
    }

    hr {
        padding-top: 25px;
    }

    #top-box, #mid-box, #bottom-box {
        width: 580px;
    }

    #top-box {
        font-size: 250%;
        height: 55px;
    }

    #top-box span, p {
        padding: 15px 10px 0px;
    }

    #mid-box {
        height: 500px;
    }

    .button {
        margin: 25px auto;
    }

    #double-button {
        margin: 25px 40px 0;
    }

    .button:hover {
        margin: 30px auto;
    }

    #bottom-box p {
        font-size: 150%;
        padding: 20px 10px 0px;
    }

    .social-networks {
        width: 580px;
    }
}

/* For medium to low size screens from 650px wide and down */
@media screen and (max-width: 650px) {
    body {
        width: 440px;
        margin: 25px auto;
    }

    hr {
        padding-top: 20px;
    }

    #top-box, #mid-box, #bottom-box {
        width: 420px;
    }

    #top-box {
        font-size: 175%;
        height: 40px;
    }

    #top-box span, p {
        padding: 25px 10px 0px;
    }

    #mid-box p {
        font-size: 100%;
    }

    #double-button {
        margin: 0px 15px;
    }

    .button {
        margin: 25px auto;
    }

    #bottom-box p {
        font-size: 100%;
        padding: 25px 10px 0px;
    }

    .social-networks {
        width: 420px;
    }    
}

/* For medium to low size screens from 450px wide and down */
@media screen and (max-width: 450px) {
    body {
        width: 300px;
        margin: 25px auto;
    }

    #top-box, #mid-box, #bottom-box {
        width: 280px;
    }

    #top-box {
        height: 70px;
    }

    #top-box p {
        padding: 10px 5px 0px;
        font-size: 85%;
    }

    #top-box span {
        padding: 10px 5px 0px;
        font-size: 100%;
        margin-left: 20px;
    }

    .right {
        float: left;
        clear: both;
    }

    #mid-box {
        height: 550px;
    }

    .button {
        padding: 5px 5px;
        font-size: 150%;
        margin: 30px auto;
    }

    #double-button {
        margin: 25px 15px 0;
    }

    #bottom-box p {
        padding: 15px 10px 0px;
    }

    .social-networks {
        width: 280px;
    }    
    
    .social-networks i {
        font-size: 150%;
        margin: 15px 5px;
        padding: 8px 5px;
    }
}