/* Importing Cormorant from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

body {
    width: 820px;
    height: 100%;
    margin: 75px auto;
    font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
    color:#1E2039; 
    background-color: #979AC8;
    background-image: url("../images/marblesbg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

h2 {
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
    font-size: 250%;
    text-align: center;
    padding: 20px;
}


hr {
    padding-top: 30px;
}

#top-box, #mid-box, #bottom-box {
    width: 800px;
    height: 65px;
    background-color: rgb(236, 238, 240, 0.7);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
    text-align: center;
}

#bottom-box {
    visibility: hidden;
    height: 0px;
}

#top-box {
    font-weight: 800;
    font-size: 300%;
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
}

#top-box span, p {
    padding: 5px 10px 0px;
}

#mid-box {
    height: 350px;
}

#mid-box p {
    font-size: 120%;
    padding: 15px;
    font-weight: 800;
}

#bottom-box p {
    padding: 15px 10px 0px;
    font-weight: 800;
    font-size: 200%;
}

.button {
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
    background-color: #BFBFC4;
    border: 2px solid #1E2039;
    color: #1E2039;
    padding: 15px 32px;
    display: inline-block;
    font-size: 300%;
    margin: 25px auto;
    box-shadow: 5px 10px;
    font-weight: bold;
  }

#select-box {
    padding: 25px 0 15px;
    margin: 0 auto;
}


#select-box select {
    background-color: rgb(236, 238, 240);
    border: 2px solid #1E2039;
    padding: 0 10px 0 0;
    margin: 0;
    width: 75px;
    font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
    font-size: 175%;
    cursor: inherit;
    line-height: inherit;
    color:#1E2039;
    font-weight: 800;
}

#lose, #score-computer {
    color: #AE3441;
}

#win, #score-user  {
    color: #325635;
}

.social-networks {
    text-align: center;
    width: 800px;
    height: 75px;
    background-color: rgb(236, 238, 240, 0.8);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 10px;
    padding: 10px;
    color: #1E2039;
}