/* Importing Cormorant from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
} 

body {
    width: 820px;
    height: 100%;
    margin: 75px auto;
    font-family: 'Proza Libre', Helvetica, Arial, sans-serif;
    color:#1E2039; 
    background-color: rgb(236, 238, 240);
    background-image: url("../images/marblesbg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

h1 {
    font-family: 'Cormorant Upright', Garamond, "Times New Roman";
    font-size: 350%;
    text-align: center;
    background-color: rgb(236, 238, 240, 0.5);
}

hr {
    padding-top: 30px;
}

#title, #top-box, #mid-box, #bottom-box {
    width: 800px;
    height: 75px;
    background-color: rgb(236, 238, 240);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
    text-align: center;
}

#top-box, #bottom-box {
    visibility: hidden;
    height: 0px;
}

#mid-box {
    height: 350px;
}

.button {
    background-color: #BFBFC4;
    border: 2px solid #1E2039;
    color: #1E2039;
    padding: 15px 32px;
    display: inline-block;
    font-size: 250%;
    margin: 135px auto;
    box-shadow: 5px 10px;
    font-weight: bold;
  }

.social-networks {
    text-align: center;
    width: 800px;
    height: 75px;
    background-color: rgb(236, 238, 240);
    border: 4px solid #1E2039;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 10px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 10px;
    padding: 10px;
    color: #1E2039;
}